:root {
  /* ## Colors */
  /* ### Primary */
  --pale-blue: 225 100% 94%;
  --bright-blue: 245 75% 52%;
  --white: 0 0% 100%;
  /* ### Neutral */
  --very-pale-blue: 225 100% 98%;
  --desaturated-blue: 224 23% 55%;
  --dark-blue: 223 47% 23%;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/assetts/fonts/RedHatDisplay-VariableFont_wght.ttf);
}

body {
  display: grid;
  height: 100vh;
  margin-inline: 1rem;
  place-content: center;
  background: hsl(var(--pale-blue));
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Red Hat Display";
  font-size: 1rem;
}

.card {
  display: grid;
  max-width: 450px;
  background-color: hsl(var(--white));
  border-radius: 1rem;
}
.card__hero-image img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card__content {
  display: grid;
  color: hsl(var(--dark-blue));
  font-weight: 600;
  gap: 1rem;
  padding: 2rem 1rem;
  text-align: center;
}
.card__header {
  font-size: 1.4rem;
  font-weight: 900;
}
.card__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(var(--very-pale-blue));
  padding: 1rem;
  border-radius: 10px;
}
.card__plan-image_gap {
  display: flex;
  gap: 1.5rem;
}
.card__plan-name {
  font-weight: 900;
}

.card__plan-change a {
  color: hsl(var(--bright-blue));
  font-size: 0.8rem;
  font-weight: 900;
}
.card-proceed {
  cursor: pointer;
  background-color: hsl(var(--bright-blue));
  color: hsl(var(--white));
  border: 0;
  border-radius: 10px;
  padding-block: 0.5rem;
}
.card-cancel {
  cursor: pointer;
  background-color: transparent;
  font-weight: 900;
  border: 0;
}
@media (min-width: 400px) {
  body {
    background-color: hsl(var(--very-pale-blue));
    background-image: url(/images/pattern-background-desktop.svg);
    background-position: top center;
    background-size: 100%;
  }
  .card__content {
    padding-inline: 3rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
